@{
    ViewData["Title"] = "Home Page";
}
<form class="text-center" action="Details" method="get">
    <div class="text-center">
        <h1 class="display-4">Login</h1>
        <p>Username</p>
        <input id="Username" name="Username" />
        <br />
        <br />
        <p>Password</p>
        <input type="password" id="Password" name="Password" />
        <button type="submit">Login</button>
    </div>
</form>
